<?xml version="1.0"?>

<config>
    <modules>
        <Biztech_Customtoolbar>
            <version>0.1.3</version>
        </Biztech_Customtoolbar>
    </modules>
    <frontend>
        <routers>
            <customtoolbar>
                <use>standard</use>
                <args>
                    <module>Biztech_Customtoolbar</module>
                    <frontName>customtoolbar</frontName>
                </args>
            </customtoolbar>
        </routers>
        <layout>
            <updates>
                <customtoolbar>
                    <file>customtoolbar.xml</file>
                </customtoolbar>
            </updates>
        </layout>
    </frontend>
     <admin>
        <routers>
            <adminhtml>
                    <args>
                    <modules>
                        <customtoolbar after="Mage_Adminhtml">Biztech_Customtoolbar_Adminhtml</customtoolbar>
                        </modules>
                    </args>
                </adminhtml>    
        </routers>
    </admin>

    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Biztech_Customtoolbar>
							<title>Customtoolbar Module</title>
							<sort_order>10</sort_order>
						</Biztech_Customtoolbar>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <customtoolbar>
                                            <title>Custom Toolbar</title>
                                        </customtoolbar>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<customtoolbar>
					<file>customtoolbar.xml</file>
				</customtoolbar>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <customtoolbar>
                <class>Biztech_Customtoolbar_Model</class>
                <resourceModel>customtoolbar_mysql4</resourceModel>
            </customtoolbar>
            <customtoolbar_mysql4>
                <class>Biztech_Customtoolbar_Model_Mysql4</class>
                <entities>
                    <customtoolbar>
                        <table>customtoolbar</table>
                    </customtoolbar>
                </entities>
            </customtoolbar_mysql4>
        </models>
        <resources>
            <customtoolbar_setup>
                <setup>
                    <module>Biztech_Customtoolbar</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customtoolbar_setup>
            <customtoolbar_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customtoolbar_write>
            <customtoolbar_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customtoolbar_read>
        </resources>
        <blocks>
            <customtoolbar>
                <class>Biztech_Customtoolbar_Block</class>
            </customtoolbar>
             
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tab_main>Biztech_Customtoolbar_Block_Catalog_Product_Attribute_Edit_Tab_Main</catalog_product_attribute_edit_tab_main>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <customtoolbar>
                <class>Biztech_Customtoolbar_Helper</class>
            </customtoolbar>
        </helpers>
    </global>
</config>